---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

NamespaceIndentation: All

AccessModifierOffset: -4
IndentAccessModifiers: false

SpaceBeforeParens: ControlStatements

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

MaxEmptyLinesToKeep: 1
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock

ColumnLimit: 120

SortIncludes: false
IncludeBlocks: Preserve

FixNamespaceComments: false

## Constructor
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

## Templates
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: Yes
RequiresClausePosition: OwnLine
IndentRequiresClause: false