[submodule "TitaniumRHI"]
	path = ThirdParty/TitaniumRHI
	url = git@github.com:piking77420/TitaniumRHI.git
[submodule "glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
