
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ThirdParty/TitaniumRHI"]
	path = ThirdParty/TitaniumRHI
	url = https://github.com/piking77420/TitaniumRHI.git
